body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: bisque;
}

header ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 80% margin;
  overflow: hidden;
}

header {
  background-color: cornflowerblue;
  padding-top: 30px;
  min-width: 70px;
  border-bottom: black 3px solid;
}

header a {
  color: azure;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}


header nav {
  float: right;
  margin-top: 15px;
}

header a:hover {
  color: darkred;
  font-weight: bold;
}

#showcase {
  min-height: 400px;
  background: url(../img/showcase.jpg);
  text-align: center;
  background-size: 100%;
  width: 100%;
  color: white;

}
#showcaseCart {

  min-height: 400px;
  text-align: left;
  background-size: 100%;
  width: 100%;
  color: black;

}

#showcase .h1 {
  margin-top: px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase .p {
  font-size: 20px;

}

#recipes {
  margin-top: 20px;
}

#recipes .recipe {
  float: left;
  width: 30%;
  text-align: center;
}
input[type="email"] {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

input[type="name"] {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
input[type="password"] {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
input[type="Comfirm"] {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
.Signup{
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}
.Signup h{
  color: #1c8adb;
  margin-bottom: 30px;
  font-size: 30px;
}
.Sup{
  background: url(../img/showcase.jpg);
  background-size: cover;
  background-position: center;
}
.sign-in{
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}
.sign-in h{
  color: #1c8adb;
  margin-bottom: 30px;
  font-size: 30px;
}

img{
  width : 190px;
  height: 190px;
  border-radius: 50%;

}
table{
  margin-left: 20px;
  margin-top: 35px;
  width: 100%;
}

/*shopping cart*/
.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 50px;
}
.cart-row{
  display: flex;
}
.cart-item{
  width: 45%
}
.cart-price{
  width:20%;
  font-size: 1.2em;
  color: #333;
}
.cart-quantity{
  width:35%
}
.cart-item-title{
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}
.cart-item-image{
  width:75px;
  height: auto;
  border-radius: 10px;
}
.btn-danger{
  color: white;
  background-color:#EB5757 ;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}
.btn-danger:hover{
  background-color: #CC4C4C;
  cursor: pointer;
}
.cart-quantity-input{
  height:34px;
  width: 50px;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;

}
.cart-row:last-child{
  border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
  border: none;
}
.cart-total{
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
  font-size: 1.5em;

}
.cart-total-title{
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}
.cart-total-price{
  color: #333;
  font-weight:bold;
  font-size: 1.5em;
}
.cart-QST-title{
  font-weight: bold;
  font-size: .7em;
  color: black;
  margin-right: 20px;
}
.cart-QST-price{
  color: #333;
  font-weight:bold;
  font-size: 1.0em;
}
.cart-GST-title{
  font-weight: bold;
  font-size: 1.0em;
  color: black;
  margin-right: 20px;
}
.cart-GST-price{
  color: #333;
  font-weight:bold;
  font-size: 1.0em;
}

.btn-purchase {
  align-self: center;
  color: white;
  background-color:green ;
  border: 1px sold black;
  font-weight: bold;
  margin: 100px auto 60px auto;
  font-size: 1.25em;
  cursor: pointer;
}
.btn-contshop{
  align-items: center;
  color: white;
  background-color: lightblue ;
  border: 1px sold black;
  font-weight: bold;
  margin: 100px auto 60px auto;
  font-size: 1.25em;
  cursor: pointer;
}
/*shopping cart*/




.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  margin-left: 1px;
  width: 25px;
  height: 25px;
  border: 1px solid cornflowerblue;
  background: cornflowerblue;
  text-align: center;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  height: auto;

}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 15%;
  position: absolute;
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.sortButton{
  margin-left: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid cornflowerblue;
  background: cornflowerblue;
  text-align: center;
  color: black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}
.btn-AddProduct{
  align-self: center;
  color: white;
  background-color: #6c5b7b ;
  border: 1px sold black;
  font-weight: bold;
  margin: 100px auto 60px auto;
  font-size: 1.25em;
  cursor: pointer;
position: absolute;
left: 45%;
}
.btn-Delete{
  align-self: left;
  color: white;
  background-color: red ;
  border: 1px sold black;
  font-weight: bold;
  margin: 100px auto 60px auto;
  font-size: 1.25em;
  cursor: pointer;
position: fixed;
left: 15%;
}
